Source: mlstats
Section: misc
Priority: optional
Maintainer: Juan Francisco Gato Luis <jfcogato@libresoft.es>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-support, debhelper (>= 8), python
Standards-Version: 3.8.4
Homepage: http://projects.libresoft.es/projects/mlstats

Package: mlstats
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-central, python-mysqldb
Description: Mailing lists analysis tool. Part of libresoft-tools.
 Mailing List Stats is a tool to analyze mailing list archives.
 It can retrieve the archives from a remote web page 
 (usually, the archives web page), or read them
 from a local directory. It generates a brief report, 
 and write everything to a MySQL database (called mlstats
 unless other name is indicated).
