Source: mlstats
Maintainer: Israel Herraiz <herraiz@computer.org>
Section: devel
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3-1), debhelper (>= 5.0.37), python-central (>= 0.5.6)
Standards-Version: 3.7.2
XS-Python-Version: all

Package: mlstats
Architecture: all
Depends: python, python-central, python-mysqldb, mysql-server, ${python:Depends}
Recommends: 
Suggests: 
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Mailing lists analysis tool. Part of libresoft-tools
 Mailing List Stats is a tool to analyze mailing list archives. 
 It can retrieve the archives from a remote web page (usually, the
 archives web page), or it can read them from a local directory. It
 generates a brief report, and writes everything to a MySQL database
 (called mlstats unless other name is indicated).
